<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

		<bean 
			id="methodGetCounter" 
			class="com.test.spring.beans.Counter" 
			scope="session" 
			init-method="callInitMethod"
			/>
		
		<bean 
			id="spring_context_aware" 
			class="com.test.spring.context.ContextAware" />
			
</beans>