<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SpringDynamicWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<!--  you can use Annotation configuration -->
  	<!-- 
	<context-param>
	   <param-name> contextClass </param-name>
	   <param-value> org.springframework.web.context.support.AnnotationConfigWebApplicationContext </param-value>
	 </context-param>
	
	 <context-param>
	   <param-name> contextConfigLocation </param-name>
	   <param-value> com.test.spring.configuration.SimpleSpringConfiguration</param-value>
	 </context-param>
-->
<!--  you can use Context configuration -->
	<context-param>
	   <param-name>contextConfigLocation</param-name>
	   <param-value>/WEB-INF/applicationContext.xml</param-value>
	 </context-param>
	
<!--   -->

	
	 <listener>
	   <listener-class>
	    org.springframework.web.context.ContextLoaderListener
	  </listener-class>
	 </listener>
 
 
 	
	 <listener>
	   <listener-class>
	    org.springframework.web.context.request.RequestContextListener
	   </listener-class>
	 </listener>
	   
</web-app>