<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- Specify a JDBC datasource -->
    <Resource name="jdbc/data_source" 
              auth="Container"
              type="javax.sql.DataSource" 
              username="root" 
              password=""
              driverClassName="com.mysql.jdbc.Driver"
              url="jdbc:mysql://localhost:3306/astronomy?characterEncoding=UTF8&amp;useUnicode=true"
              validationQuery="select 1"
              maxActive="10" 
              maxIdle="4"/>
</Context>